.fvl-input:focus,
.fvl-color-picker-group:focus-within,
.fvl-textarea:focus,
.fvl-submit-button:focus,
.fvl-select-wrapper select:focus,
.fvl-tag-select:focus,
.fvl-image-button:focus,
.fvl-tag-select:focus-within,
.fvl-input-group:focus-within,
.fvl-checkbox:focus+label .fvl-checkbox-outer,
.fvl-switch:focus+label .fvl-switch-toggle::before,
.fvl-radio:focus+label .fvl-radio-toggle,
.fvl-outline:focus {
    outline: none !important;
    box-shadow: 0 0 0 3px rgba(218, 225, 231, 0.8);
}

.fvl-input-group:focus-within>.fvl-input:focus {
    box-shadow: none;
}