/* Vue slide-down transition */
.slide-down-enter-active,
.slide-down-leave-active {
    will-change: max-height;
    transition: all 0.28s ease;
}
.slide-down-enter,
.slide-down-leave-to {
    opacity: 0;
    transform: translateY(-10px);
}
.slide-down-move {
    position: absolute;
}

/* Input transitions */
.fvl-has-error .fvl-input {
    transition: border 0.28s ease;
}


.fvl-dropdown-transition-enter,
.fvl-dropdown-transition-leave-to {
  opacity: 0;
}

.fvl-dropdown-transition-leave,
.fvl-dropdown-transition-enter-to {
  opacity: 1;
}

.fvl-dropdown-transition-enter-active,
.fvl-dropdown-transition-leave-active {
  transition: opacity 0.15s cubic-bezier(0.62, 0.28, 0.23, 0.99);
}

