.fvl-has-error .fvl-input,
.fvl-has-error .fvl-textarea,
.fvl-has-error .fvl-select,
.fvl-has-error .fvl-checkbox + label:before,
.fvl-has-error .fvl-radio + label:before {
    @apply border-red-light;
}
.fvl-input-error-message,
.fvl-checkbox-error-message {
    @apply text-red-light font-bold pt-1;
}
