.fvl-input:focus, 
.fvl-textarea:focus,
.fvl-submit-button:focus,
.fvl-select:focus,
.fvl-radio:focus + label:before,
.fvl-checkbox:focus + label:before
{
    outline: none !important;
    box-shadow: 0 0 0 3px rgba(218, 225, 231, 0.8);
}